@import 'variables';

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.table-search input {
  padding: 8px 12px;
  border: 2px solid $black;
  border-radius: 5px;
  font-size: 14px;
  width: 350px;
}

.btn-add {
  padding: 8px 12px;
  background-color: $black;
  color: $white;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  margin-left: 10px;
}

.table-container {
  width: 100%;
  margin-top: 10px;
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  border-radius: 8px;
}

/* Table Header */
.table th {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
  background-color: #f2f2f2;
}

/* Table Rows */
.table td {
  padding: 12px;
  border: 1px solid #ddd;
}

.table button {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  margin-right: 5px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.table button:hover {
  background-color: #e0e0e0;
  border-color: #ccc;
  color: #000;
}

.table button:focus {
  outline: none;
}
